<!--プロフィール編集画面-->

<div>
  <div class="container">
      <h2>User info</h2>
      
      <!--サクセスメッセージ-->
      <p id="notice">
        <%= notice %>
      </p>

      <!--エラーメッセージ-->
      <div class="error">
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <%= form_with model:@user, local:true do |f| %>
        <div class="field row">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field row">
          <%= f.label :image %>
          <%= f.attachment_field :profile_image, placeholder: "Image", class: "user-edit-form" %>
        </div>
        <div class="field row">
          <%= f.label :introduction %>
          <%= f.text_area :introduction %>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>


  </div>
</div>