<!--ユーザー一覧表示-->

<div class="body">
  <div class="container">

    <!--エラーメッセージ-->
    <div class="error_messege">
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <!--サイドバー-->
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book %> <!--New bookの部分テンプレート-->
      </div>

      <!--ユーザー一覧-->
      <div class="col-xs-9">
        <h2>Users</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th><!--show--></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %>
              </td>
              <td><%= user.name %></td>

              <!--フォロー機能-->
              <% "id: #{user.id}" %>
              <td><%= "フォロー数: #{user.follower.count}" %></td>
              <td><%= "フォロワー数: #{user.followed.count}" %></td>

              <% if current_user.following?(user) %>
                <td><%= link_to 'フォロー外す', unfollow_path(user.id), method: :post %></td>
              <% else %>
                <td><%= link_to 'フォローする', follow_path(user.id), method: :post %></td>
              <% end %>


              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>