<!--新規登録・ログイン後に表示されるマイページ画面-->

<!--テストのためにログアウトボタンをつけてみた-->
<%= link_to "logout", destroy_user_session_path, method: :delete %>

<div class="body">
  <div class="container">
    <!--<p id="notice">Welcome! You have signed up successfully.</p>ログイン・登録した時にでる-->
    <!--<p id="notice">You have updated user successfully.</p>更新した時にでる-->
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

        <table class="table">
          <tbody>
            <tr>
              <th>name</th> <!--ユーザー名表示-->
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th> <!--自己紹介文-->
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>

        <div class="row"> <!--編集画面へ-->
          <% if @user.id == current_user.id %>
<!--編集ページにとばない-->
            <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_id" href="/users/:id/edit"></a>
          <% end %>
        </div>

        <!--投稿フォーム-->
        <div>
          <h2>New book</h2>
          <form>
            <!--<div class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">-->
              <div class="field row">
                <label for="book_title">Title</label>
                <input class="col-xs-12" type="text" id="book_title">
              </div>
              <div class="field row">
                <label for="book_opinion">Opinion</label>
                <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
              </div>
              <div class="actions row">
                <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
              </div>
            </div>
          </form>
        </div>
      </div>

      <!--自分の投稿一覧-->
      <div class="col-xs-9">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
               <th></th><!--プロフィール写真が入る-->
               <th>Title</th>
               <th>Opinion</th>
               <th colspan="3"></th>
             </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <!--フッターの部分テンプレート-->
  <%= render 'homes/footer' %>

</div>