<!--新規登録・ログイン後に表示されるマイページ画面-->

<div class="body">
  <div class="container">
    <!--サクセスメッセージ-->
    <p id="notice">
      <%= notice %>
    </p>

    <!--サイドバー-->
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book %> <!--New bookの部分テンプレート-->
      </div>

      <!--自分の投稿一覧-->
      <div class="col-xs-9">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th><!--ProfileImage--></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <%= link_to user_path(book.user.id) do %>
                    <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %>
                  <% end %>
                </td>
                <td><%= link_to book.title, book_path(book) %></td> <!--book_path(詳細表示)で(|book|)の投稿(.id)を持ってくる-->
                <td><%= book.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>