<!--New bookの部分テンプレート-->

<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class:"col-xs-12" %>
  </div>
  <div class="field row">
    <%= f.label :body %>
    <%= f.text_area :body, class:"col-xs-12" %>
  </div>
  <div class="actions row">
    <%= f.submit class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>