<!--投稿編集画面-->

<div>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h2>Editing Book</h2>

      <!--エラーメッセージ-->
      <div class="error">
        <div class="error_messege">
          <% if @book.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <%= form_with model:@book, local:true do |f| %>
        <div class="field row">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="field row">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>

        <div class="link">
          <%= link_to "Show", book_path(@book.id) %>
          <%= "  |  " %>
          <%= link_to "Back", books_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>