<!--投稿詳細-->

<div class="body">
  <div class="container">

    <!--サクセスメッセージ-->
    <p id="notice">
      <%= notice %>
    </p>

    <!--コメントエラーメッセージ-->
    <div class="error">
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <!--サイドバー-->
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book_new %> <!--New bookの部分テンプレート-->
      </div>

      <!--投稿詳細-->
      <div class="col-xs-9">

        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %><br>
                <%= @user.name %>
              <% end %>

              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>



              <!--いいね機能-->
              <td>
                <% if @book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: black;"></i>
                    <%= @book.favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <%= @book.favorites.count %>
                  <% end %>
                <% end %>
              </td>



              <td>コメント数：<%= @book.book_comments.count %></td>
              <% if user_signed_in? && current_user.id == @book.user_id %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger btn-sm" %></td>
              <% end %>
            </tr>

            <!--コメント表示-->
        <table>
          <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td><%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %></td>
              <td><%= book_comment.user.name %></td>
              <td><%= book_comment.comment %></td>
              <td><% if user_signed_in? && current_user.id == book_comment.user_id %>
                    <%= link_to "Destroy", book_book_comment_path(@book, book_comment), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger btn-sm" %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </table>

            <!--コメント入力フォーム-->
            <tr>
              <td>
              <%= form_with(model:[@book, @comment], local: true) do |f| %>
                <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
              <% end %>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
