<!--本の詳細表示画面-->
<h1>本の詳細表示画面</h1>

<div class="body">
  <div class="container">
    <!--サクセスメッセージ-->
    <p id="notice">
      <%= notice %>
    </p>

    <!--サイドバー-->
    <div class="row">
      <div class="col-xs-3">
        <%= render 'users/userinfo', user: @user %>
        <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book_new %>
        <!--New bookの部分テンプレート-->
      </div>

      <!--投稿詳細-->
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %><br>
                <%= @user.name %>
              <% end %>

              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if user_signed_in? && current_user.id == @book.user_id %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger btn-sm" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
